@media(max-width:700px) {
  .header {
    padding-top: 5px;
  }

  nav .logo {
    display: none;
  }

  nav h1 {
    margin: auto;
  }

  nav ul li {
    margin: 15px 7px;
  }

  nav ul li::after {
    display: none;
  }

  nav ul li a {
    color: goldenrod;
  }

  nav ul li a:visited {
    color: goldenrod;
  }

  nav ul li .cart {
    color: goldenrod;
  }

  #navLinks {
    position: absolute;
    background: rgba(0, 0, 0, 0.902);
    height: 100vh;
    width: 7.5em;
    top: 0;
    right: -7.5em;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  #menu-icon {
    padding-top: 5px;
    margin-right: -20px;
    color: black;
  }

  nav .fa {
    display: block;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }

  /*  Head Content  */
  .head-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
  }

  .item {
    width: 39vw;
    height: 15.625em;
    margin: auto;
    border: 1.5px groove rgb(212, 167, 55);
    border-radius: 4px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.221);
    padding-top: 10px;
    text-align: center;
  }

  .item_image-box {
    margin: auto;
    font-size: 14px;
  }

  .item__image-link {
    width: auto;
    height: 8em;
    margin-bottom: 10px;
  }

  .item_image-box p {
    margin-bottom: -10px;
  }

  .item_image1 {
    margin: 12px 0 0;
    width: 1.6em;
  }

  .item_image2 {
    width: 5.8em;
    margin: 17px 0 0;
  }

  .item_image3 {
    width: 3.75em;
    margin: 17px 0 0;
  }

  .item_image4 {
    width: 7.9em;
    background-color: rgb(212, 167, 55);
    margin: 17px 0 0;
  }

  .item button {
    font-size: 10px;
    width: 75%;
    padding: 7px 0;
    margin-top: 12%;
    font-weight: 700;
  }

  /*  Review  */
  .reviews {
    text-align: center;
    margin: 70px 0 50px;
    padding: 30px 0 45px;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    box-shadow: 1px 0 8px 1px rgb(212, 167, 55);
  }

  .reviews h3 {
    font-size: 14px;
  }

  .img-view {
    width: 70%;
    /* margin-left: -15px; */
  }

  .prev,
  .next {
    display: none;
  }

  .review_button {
    padding: 7px 50px;
  }

  /*  Skin Care Section */
  .skin-care {
    text-align: center;
    font-size: 30px;
  }

  .skin-care p {
    margin-top: 10px;
    font-size: 12px;
  }

  /*  Footer Section  */
  .footer {
    padding: 5px 0 10px;
  }

  .footer .myne {
    color: rgb(24, 24, 24);
    margin: 15px 0 5px;
  }

  .socials .fa {
    margin: 15px 5px 20px;
    padding: 8px;
    font-size: 70%;
    border-radius: 50%;
  }

  .footer p {
    font-size: 12px;
  }


  #email {
    width: 15.75em;
  }

  .sign-up {
    font-family: italic;
    width: auto;
    margin: 5px 10px 25px;
    padding: 7px 15px;
    background: #fff;
    border: none;
  }


  /*  About  */
  .about {
    min-height: 100%;
  }

  .about h2 {
    margin: 5px 0 10px;
    font-size: 27px;
  }

  .about p {
    padding: 0 5px;
    font-size: 12px;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -20px;
  }

  .card {
    width: 6.4em;
    height: 12em;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.153);
    margin: auto;
    padding: 0;
  }

  .card img {
    width: 2em;
    height: 2em;
    margin: 5px 0 -2px;
  }

  .card h3 {
    margin: 0 1px 5px;
    color: rgba(85, 71, 15, 0.95);
    font-size: 14px;
  }

  .card p {
    font-size: 11px;
    font-weight: bold;
  }

  .about-footer p {
    font-size: 12px;
  }

  .subscribe p {
    font-size: x-small;
  }
}
